*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.container{
    height: 98vh;
    width: 98vw;
    border: 1px solid red;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.upper{
   border: 1px solid blue;
   flex: 0 0 30%; 
}

.middle{
    border: 1px solid blue;
    flex: 1;
}

.lower{
    border: 1px solid blue;
    flex: 0 0 30%;
}

.upper1{
      
}
.upper2{
    
}