/* *{
    background-color: rgb(25, 60, 124);
    height: 66px;
    display: inline;
    padding: 4px;
    margin: 9px;
} */
*{
    background-color: yellow;
    font-family: sans-serif;
    font-style:italic
}