*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    border: 3px solid red;
    height: 100vh;
    width: 99vw;
    flex-direction:column ;
    border-radius: 25px;
    padding-left: 4%;
    display: flex;
}
.box1{
    border: 3px solid blue;
    flex: 0 0 25%;
    
}

