
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Instructor";
}

<div class="text-center">
    <img src="/studentPhotos/Elearningwellcomepage.jpg" />
    <img src="~/Best-Learning-Management-Systems 2.jpg" />
    <div class="text-center">

        <h1 class="display-4">WELCOME TO LEARNING MANAGEMENT SYSTEM</h1>
    </div>

</div>
