@model Student

<div>
    <form action="Create" method="post">
        <div>
            <label>Id:</label>
            <input type="number" name="Id" />
        </div>
        <div>
            <label>Name:</label>
            <input type="text" name="Name" />
        </div>
        <div>
            <label>Class</label>
            <input type="text" name="Class" />
        </div>
        <div>
            <label>Age</label>
            <input type="number" name="Age" />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>
